In [1]:
import pandas

In [2]:
import numpy

In [3]:
db=pandas.read_csv("salary_data.csv")

In [4]:
db

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [5]:
x=db['YearsExperience']

In [6]:
y=db['Salary']

In [8]:
from sklearn.linear_model import LinearRegression

In [9]:
model=LinearRegression()

In [10]:
x=x.values

In [11]:
x=x.reshape(30,1)

In [12]:
model.fit(x,y)

LinearRegression()

In [13]:
model.coef_

array([9449.96232146])

In [14]:
model.predict([[4.5]])

array([68317.03064522])

In [16]:
c=model.intercept_

In [17]:
c

25792.20019866871

In [18]:
import joblib

In [19]:
joblib.dump(model,'salary_data.pk1')

['salary_data.pk1']